{% extends 'admin.html.twig' %}

{% block title %}Liste des liens vers sites{% endblock %}

{% block body %}
    <h1>Liste des liens vers sites</h1>

    <div>
        <a class="btn btn-grad btn-info2" href="{{ path('app_link_actions_masters_new') }}">Nouveau</a>
    </div>    
    <hr class="mb-3">

    <table class="table">
        <thead>
            <tr>
                <th>Action Origine</th>
                <th>Titre</th>
                <th>Lien vers le site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link_actions_master in link_actions_masters %}
            <tr>
                <td>{{ link_actions_master.docactmaster.titleactionsmaster }}</td> 
                <td>{{ link_actions_master.titlelinkactionsmaster }}</td>
                <td>
                    {{ link_actions_master.linkactionsmaster }}
                    <br>
                    <a class="btn btn-info mb-3 mr-1 me-1 btn-sm" href="{{ link_actions_master.linkactionsmaster }}" role="button" data-bs-slide="prev">
                        <i class="fas fa-external-link-alt"></i>
                        Aller Voir ...
                    </a>
                </td>
                <td>
                    <a class="btn btn-grad btn-primary2 me-2" href="{{ path('app_link_actions_masters_show', {'id': link_actions_master.id}) }}">Afficher</a>
                    <a class="btn btn-grad btn-warning2" href="{{ path('app_link_actions_masters_edit', {'id': link_actions_master.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
