{% extends 'admin.html.twig' %}

{% block title %}Documents Associés aux actions{% endblock %}

{% block body %}
    <h1>Documents Associés aux actions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Action Origine</th>
                <th>Id</th>
                <th>Titledocactionsasso</th>
                <th>Linkdocactionsasso</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doc_actions_asso in doc_actions_assos %}
        {# <pre>
            {{ dump(doc_actions_asso) }}
        </pre> #}
            <tr>
                <td>{{ doc_actions_asso.docactasso.id }} - 
                    {{ doc_actions_asso.docactasso.titleactionsasso }}</td> 
                <td>{{ doc_actions_asso.id }}</td>
                <td>{{ doc_actions_asso.titledocactionsasso }}</td>
                <td>{{ doc_actions_asso.linkdocactionsasso }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_doc_actions_assos_show', {'id': doc_actions_asso.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('app_doc_actions_assos_edit', {'id': doc_actions_asso.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a class="btn btn-success" href="{{ path('app_doc_actions_assos_new') }}">Nouveau</a>
        <hr class="mb-3">
    </div>

{% endblock %}
