{% extends 'admin.html.twig' %}

{% block title %}Docuement associé à une action{% endblock %}

{% block body %}
    <h1>Docuement associé à une action</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doc_actions_asso.id }}</td>
            </tr>
            <tr>
                <th>Titledocactionsasso</th>
                <td>{{ doc_actions_asso.titledocactionsasso }}</td>
            </tr>
            <tr>
                <th>Linkdocactionsasso</th>
                <td>{{ doc_actions_asso.linkdocactionsasso }}</td>
            </tr>
        </tbody>
    </table>

    <hr class="mb-3">
    <div class="d-flex flex-row my-2">

        <a class="btn btn-secondary me-2" href="{{ path('app_doc_actions_assos_index') }}">Retour</a>

        <a class="btn btn-warning me-2" href="{{ path('app_doc_actions_assos_edit', {'id': doc_actions_asso.id}) }}">Modifier</a>

        {{ include('doc_actions_assos/_delete_form.html.twig') }}

{% endblock %}
