{% extends 'base.html.twig' %}

{% block title %}s'enregistrer{% endblock %}

{% block body %}
    <h1>s'enregistrer</h1>

    {# {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}


    <section class="" id="Login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center">Enregistrement</h1>
                    <form class="row g-3" method="post">
                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.nameUser) }}                        
                        {{ form_row(registrationForm.firstnameUser) }}                        
                        {# {{ form_row(registrationForm.pseudo) }}                         #}
                        {{ form_row(registrationForm.email) }}
                        {# {{ form_row(registrationForm.plainPassword, {label: 'Mot de Passe :'}) }} #}
                        <div>
                            <label>Mot de passe: </label>
                            <br>
                            {{ form_widget(registrationForm.password.first) }}
                        </div>
                        <div>
                            <label>Confirmez le mot de passe: </label>
                            <br>
                            {{ form_widget(registrationForm.password.second) }}
                        </div>
                        <div class="form-check form-switch">
                            {# <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label> #}
                            {# <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if ({{registration.contactinfoUser}}==true) ? 'checked' : '' %}> #}
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" > 
                        <label class="form-check-label" for="flexSwitchCheckChecked">News Letter xxx</label>
                        </div>

                        {{ form_row(registrationForm.agreeTerms) }}
                        <button class="btn btn-grad btn-success2" type="submit"> s'enregistrer</button>
                        {{ form_end(registrationForm) }}
                    </form>
                </div>
            </div>
        </div>
    </section>






{% endblock %}
