{% extends 'admin.html.twig' %}

{% block title %}Gestion des Fonctions{% endblock %}

{% block body %}

    <h1>Gestions des Fonctions</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Fonctions </th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for function in functions %}
            <tr>
                {# <td>{{ function.id }}</td> #}
                <td>{{ function.mission }}</td>
                <td>{{ function.descriptionFunction }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('functions_show', {'id': function.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('functions_edit', {'id': function.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune Fonction de  créée !!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn btn-info" href="{{ path('functions_new') }}" title="Nouveau">Nouveau</a>
    </div>






{% endblock %}
