{% extends 'base.html.twig' %}

{% block title %}
	{{ params[0].titleParam }}
{% endblock %}

{% block body %}

{# Step 1: Include the JavaScript SDK on your page once, ideally right after the opening corps tag.
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0" nonce="6IqL3PPI"></script>
Step 2: Place this code wherever you want the plugin to appear on your page.
<div class="fb-page" data-href="https://www.facebook.com/jacques.lemoine.31" data-tabs="timeline" data-width="200" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
Place this code wherever you want the plugin to appear on your page.
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fjacques.lemoine.31&tabs=timeline&width=200&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="200" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> #}
{# 
<div id="fb-root">
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0" nonce="6IqL3PPI">
</script>
<div class="fb-page" data-href="https://www.facebook.com/jacques.lemoine.31" data-tabs="timeline" data-width="200" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
</div>
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fjacques.lemoine.31&tabs=timeline&width=200&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="200" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
</iframe> #}

	<section class="sousHeader">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 clZIndex d-flex justify-content-center">
					<img src="{{ asset('icones/logo_PaulGreen_1a.jpeg')}}" 
						alt="{{ params[0].titleParam }}" width="auto" height="200" 
						class="d-inline-block align-text-top imgClass2">
				</div>
				<div class="col-md-6 ombre">
					<div class="border border-2 border-primary rounded-3 p-5 fenetreTitre">
						<h1 class="ff-Parisienne">{{ params[0].titleParam }}</h1>
						<h2 class="ff-Gelasio fs-1">{{ params[0].subtitleParam }}</h2>
					</div>
				</div>
				<div class="col-md-2 d-flex justify-content-center">
					<img src="{{ asset('icones/logo_PaulGreen_2a.jpeg')}}" 
						alt="{{ params[0].titleParam }}" width="auto" height="200" 
						class="d-inline-block align-text-top imgClass2">
				</div>
			</div>
		</div>
	</section>

	{# =================================================================== Présentation ===== #}

	<section class="PresentationAssos">
		<div class="container">
			<div class="row">
				<div class="col-md-12 d-flex flex-row justify-content-center mb-3">
					<img src="{{ asset('photosParams/' ~ params[0].photoParam )}}" 
						alt="{{ params[0].titleParam }}" width="100%" height="100%" 
						class="d-inline-block align-text-top">
				</div>
				<div class="col-md-12">
					{{ params[0].textParam|raw }}
				</div>
			</div>
		</div>
	</section>

	{# ====================================================================================== #}



	{# =================================================================== Les News ===== #}

	<section
		class="clNews" id="idNews">

		{# Affichage des nouvelles  : limiter à 5 denières #}
		<div class="text-center pb-5">
			<h3>Les dernières du Journal de l'environnement !</h3>
		</div>

		<div class="container ">
			<div class="row d-flex justify-content-center">  
				<div class="col-md-8">		

		{# == Caroussel== #}

			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-indicators">
				{%  set isFirst = 0 %}
				{% for new in theNews %}
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}></button>
					{% set isFirst = isFirst+1 %}
				{# 
				{% else %}
					<p>aucune News ???</p> 
				#}
				{% endfor %}
			</div>

			<div class="carousel-inner">

				{%  set isFirst = true %}
				{% for new in theNews %}
					<div class="carousel-item {% if isFirst == true %}active{% endif %}">
						<div class="d-flex flex-row justify-content-center">
							<img src="{{ asset('photosNews/' ~ new.pictureNew) }}" 
								class="d-block imgClass" w-100 width="800" height="400" alt="{{ new.altpicturenew }}">
						</div>
						{% set isFirst = false %}
						<div class="carousel-caption d-none d-md-block">
							<h5>{{ new.titleNew }}</h5>
							<p>{{ new.altpicturenew }}</p>
						</div>
					</div>
				{#
				{% else %}
					<p>aucune News ???</p>
				#}
				{% endfor %}

			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>

		</div>
		{# ======================================================================= #}

			</div> 
		</div>
	</div> 


		{# <div id="positionContacts"></div> #}
</section>		

		{# =================================================================== Les Actions Association ===== #}

<section class="clActionsAssos" id="idActionsAssos"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les dernières Actions de L'association !</h3>
		</div>

			<div class="container ">
				<div class="row d-flex justify-content-center">  
					<div class="col-md-8">				

			{# == Caroussel== #}

			<div id="carouselExampleCaptions2" class="carousel slide carousel-fade" data-bs-ride="carousel2">
				<div class="carousel-indicators">

					{%  set isFirst = 0 %}
					{% for xTab in theActionsAssos %}
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}></button>
						{% set isFirst = isFirst+1 %}
						{# 
						{% else %}
						<p>aucune News ???</p>
						#}
					{% endfor %}
				</div>

				<div class="carousel-inner">

					{%  set isFirst = true %}
					{% for xTab in theActionsAssos %}
						<div class="carousel-item {% if isFirst == true %}active{% endif %}">
							<div class="d-flex flex-row justify-content-center">
								<img src="{{ asset('photosActionsAssos/' ~ xTab.pictureactionsasso) }}" 
									class="d-block imgClass" w-100 width="800" height="400" alt="{{ xTab.altPictureActionsAssos}}">
							</div>
							{% set isFirst = false %}
							<div class="carousel-caption d-none d-md-block">
								<h5>{{ xTab.titleactionsasso}}</h5>
								<p>{{ xTab.altPictureActionsAssos}}</p>
							</div>
						</div>
						{# {% else %}
						<p>aucune News ???</p> #}
					{% endfor %}

				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>

			</div>
		</div>
	</div>
</div>

</section>
{# ======================================================================== #}

{# =================================================================== Les Actions Master ===== #}

		<section class="clActionsMasters" id="idActionsMasters"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les dernières Actions du Master !</h3>
		</div>

		<div class="container ">
			<div class="row d-flex justify-content-center">  
				<div class="col-md-8">		

		{# <div class="container"> #}

		{# <div class="row row-cols-1 row-cols-md-4 g-4"> #}

		{# == Caroussel== #}

		<div id="carouselExampleCaptions3" 
				class="carousel slide carousel-fade" 
				data-bs-ride="carousel3">
			<div class="carousel-indicators">

				{%  set isFirst = 0 %}
				{% for xTab in theActionsMasters %}
					<button type="button" 
						data-bs-target="#carouselExampleCaptions" 
						data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" 
						class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} 
						aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}>
					</button>
					{% set isFirst = isFirst+1 %}
					{# 
					{% else %}
					<p>aucune News ???</p>
					#}
				{% endfor %}
			</div>

			<div class="carousel-inner">

				{%  set isFirst = true %}
				{% for xTab in theActionsMasters %}
					<div class="carousel-item {% if isFirst == true %}active{% endif %}">
						<div class="d-flex flex-row justify-content-center">
							<img src="{{ asset('photosActionsMasters/' ~ xTab.pictureactionsmaster) }}" 
								class="d-block imgClass" w-100 width="800" height="400" 
								alt="{{ xTab.altpictureactionsmaster}}">
						</div>
						{% set isFirst = false %}
						<div class="carousel-caption d-none d-md-block">
							<h5>{{ xTab.titleactionsmaster}}</h5>
							<p>{{ xTab.altpictureactionsmaster}}</p>
						</div>
					</div>
					{# {% else %}
					<p>aucune News ???</p> #}
				{% endfor %}

			</div>

			<button class="carousel-control-prev" 
					type="button" 
					data-bs-target="#carouselExampleCaptions3" 
					data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" 
					type="button" 
					data-bs-target="#carouselExampleCaptions3" 
					data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>

		</div>
	</div>
</div>
</div>

</section>
{# ======================================================================== #}


{# =================================================================== Les Sorties ===== #}

<section class="clFieldtrips" id="idFieldtrips"> {# Affichage des 5 denières #}

	<div class="text-center pb-5">
		<h3>Les dernières Sorties !</h3>
	</div>
	<div class="container ">
		<div class="row d-flex justify-content-center">  
			<div class="col-md-8">

{# == Caroussel== #}

<div id="carouselExampleCaptions4" 
		class="carousel slide carousel-fade" 
		data-bs-ride="carousel4">
	<div class="carousel-indicators">

		{%  set isFirst = 0 %}
		{% for xTab in theFieldtrips %}
			<button type="button" 
				data-bs-target="#carouselExampleCaptions" 
				data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" 
				class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} 
				aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}>
			</button>
			{% set isFirst = isFirst+1 %}
			{# 
			{% else %}
			<p>aucune News ???</p>
			#}
		{% endfor %}
	</div>

	<div class="carousel-inner">

		{%  set isFirst = true %}
		{% for xTab in theFieldtrips %}
			<div class="carousel-item {% if isFirst == true %}active{% endif %}">
				<div class="d-flex flex-row justify-content-center">
					<img src="{{ asset('photosFieldtrips/' ~ xTab.picturefieldtrip) }}" 
						class="d-block imgClass" w-100 width="800" height="400" 
						alt="{{ xTab.altpicturefieldtrip}}">
				</div>
				{% set isFirst = false %}
				<div class="carousel-caption d-none d-md-block">
					<h5>{{ xTab.titlefieldtrip}}</h5>
					<p>{{ xTab.altpicturefieldtrip}}</p>
				</div>
			</div>
			{# {% else %}
			<p>aucune News ???</p> #}
		{% endfor %}

	</div>

	<button class="carousel-control-prev" 
			type="button" 
			data-bs-target="#carouselExampleCaptions4" 
			data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" 
			type="button" 
			data-bs-target="#carouselExampleCaptions4" 
			data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>

				</div>
			</div>
		</div>
	</div>
</section>
{# ======================================================================== #}

{# =================================================================== Les Stages ===== #}

{# Affichage des 5 denières #}
{# <section class="clInterships" id="idInterships"> 

		<div class="text-center pb-5">
			<h3>Les derniers Stages Proposés  (En Construction) ! ✅</h3>
		</div>

</section> #}
{# ======================================================================== #}

{# =================================================================== Les Partenaires ===== #}

<section class="clPartners" id="idPartners"> {# Affichage des 5 denières #}

	<div class="text-center pb-5">
		<h3>Nos Partenaires !</h3>
	</div>

	<div class="container my-5">

  		<hr class="mb-5"/>

  		<!--Carousel Wrapper-->
  		<div id="myCarouselPartners" class="carousel slide carousel-multi-item" data-ride="carousel">

    		<!--/.Controls-->
			<div class="col-6 text-right">
				<a class="btn btn-primary mb-3 mr-1" href="#myCarouselPartners" role="button" data-bs-slide="prev"><i class="fas fa-arrow-left"></i></a>
				<a class="btn btn-primary mb-3 " href="#myCarouselPartners" role="button" data-bs-slide="next"><i class="fas fa-arrow-right"></i></a>
			</div>

    <!--Indicators-->
    {# <ol class="carousel-indicators">
      <li data-bs-target="#myCarouselPartners" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarouselPartners" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarouselPartners" data-bs-slide-to="2"></li>
    </ol> #}
	{# <div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarouselPartners" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"  ></button>
		<button type="button" data-bs-target="#myCarouselPartners" data-bs-slide-to="1" aria-label="Slide 2"> </button>
		<button type="button" data-bs-target="#myCarouselPartners" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>	 #}
	{# <div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div> #}
    <!--/.Indicators-->

    	<div class="carousel-inner" role="listbox">

			{% set isFirst = 0 %}
			{% for xPartner in thePartners %}

				{% if((isFirst % 3) == 0) %}
				<div class="carousel-item {% if(isFirst == 0) %}active{% endif %}">
					<div class="row">
				{% endif %}
				
						<div class="col-md-4 clearfix d-none d-md-block">
							<div class="card mb-2">
								<div class="clImgPartners">
									{% if(xPartner.photoPartner) %}
							  			<img class="card-img-top w-100 h-100"
									  		src="{{ asset('photosPartners/' ~ xPartner.photoPartner) }}" 
											alt="{{xPartner.namePartner}}">
									{% elseif (xPartner.logoPartner) %}
										<img class="card-img-top w-100 h-100"
									  		src="{{ asset('photosPartners/' ~ xPartner.logoPartner) }}" 
											alt="{{xPartner.namePartner}}">
									{% else %}
										<p>Pas d'image associée</p>
									{% endif %}
								</div>
							  	<div class="card-body">
									<h4 class="card-title">{{ xPartner.namePartner }}</h4>
									<p class="card-text">{{ xPartner.namePartner|striptags|u.truncate(50, '...') }} ...</p>
									<div class="d-flex flex-row justify-content-between align-items-center">
										<a herf="{{ xPartner.linkPartner }}" target="_blank" 
												class="btn btn-primary">
											<i class="fas fa-external-link-alt"></i>
										</a>
										<img class="card-img-top clLogoPartners" 
											src="{{ asset('photosPartners/' ~ xPartner.logoPartner) }}" 
											alt="{{xPartner.namePartner}}" width="100">
									</div>
								</div>
							</div>
						</div>

						{% set isFirst = isFirst+1 %}
						{% if((isFirst % 3) == 0) %}

					</div>
				</div>
				{% endif %}

			{% endfor %}

		</div>
	</div>

</section>

	{# <div id="idContacts"></div> #}

{# ======================================================================== #}

<section class="contacts" id="idContacts">
	{{ include('contacts/_form.html.twig', {'button_label': 'Envoyer'}) }}
</section>


{% endblock %}
