{% extends 'base.html.twig' %}

{% block title %}
	{{ params[0].titleParam }}!
{% endblock %}

{% block body %}

	<section class="sousHeader">
		<div class="border border-2 border-primary rounded-3 p-5 fenetreTitre">
			<h1 class="text-success2">{{ params[0].titleParam }}! ✅</h1>
			<h2>{{ params[0].subtitleParam }} ! ✅</h2>
		</div>
	</section>

	{# {{random(1,100)}} #}


	{# =================================================================== Les News ===== #}

	<section
		class="clNews" id="idNews">

		{# Affichage des nouvelles  : limiter à 5 denières #}
		<div class="text-center pb-5">
			<h3>Les dernières News ! ✅</h3>
		</div>

		{# <div class="container"> #}

		{# <div class="row row-cols-1 row-cols-md-4 g-4"> #}

		{# == Caroussel== #}

			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-indicators">
				{%  set isFirst = 0 %}
				{% for new in theNews %}
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}></button>
					{% set isFirst = isFirst+1 %}
					{# {% else %}
					                        <p>aucune News ???</p> #}
				{% endfor %}
			</div>

			<div class="carousel-inner">

				{%  set isFirst = true %}
				{% for new in theNews %}
					<div class="carousel-item {% if isFirst == true %}active{% endif %}">
						<div class="d-flex flex-row justify-content-center">
							<img src="{{ asset('photosNews/' ~ new.pictureNew) }}" class="d-block imgClass" w-100 width="800" height="400" alt="{{ new.altpicturenew }}">
						</div>
						{% set isFirst = false %}
						<div class="carousel-caption d-none d-md-block">
							<h5>{{ new.titleNew }}</h5>
							<p>{{ new.altpicturenew }}</p>
						</div>
					</div>
					{# {% else %}
					                        <p>aucune News ???</p> #}
				{% endfor %}

			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>

		</div>
		{# ======================================================================= #}

		{# </div> #}
		{# </div> #}

		{# <div id="positionContacts"></div> #}
</section>		

		{# =================================================================== Les Actions Association ===== #}

<section class="clActionsAssos" id="idActionsAssos"> {# Affichage des 5 denières #}

			<div class="text-center pb-5">
				<h3>Les dernières Actions de L'association ! ✅</h3>
			</div>

			{# <div class="container"> #}

			{# <div class="row row-cols-1 row-cols-md-4 g-4"> #}

			{# == Caroussel== #}

				<div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel2"> <div class="carousel-indicators">
					{%  set isFirst = 0 %}
					{% for xTab in theActionsAssos %}
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}></button>
						{% set isFirst = isFirst+1 %}
						{# 
						{% else %}
						<p>aucune News ???</p>
						#}
					{% endfor %}
				</div>

				<div class="carousel-inner">

					{%  set isFirst = true %}
					{% for xTab in theActionsAssos %}
						<div class="carousel-item {% if isFirst == true %}active{% endif %}">
							<div class="d-flex flex-row justify-content-center">
								<img src="{{ asset('photosActionsAssos/' ~ xTab.pictureactionsasso) }}" class="d-block imgClass" w-100 width="800" height="400" alt="{{ xTab.altPictureActionsAssos}}">
							</div>
							{% set isFirst = false %}
							<div class="carousel-caption d-none d-md-block">
								<h5>{{ xTab.titleactionsasso}}</h5>
								<p>{{ xTab.altPictureActionsAssos}}</p>
							</div>
						</div>
						{# {% else %}
						<p>aucune News ???</p> #}
					{% endfor %}

				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>

			</div>

</section>
{# ======================================================================== #}

{# =================================================================== Les Stages ===== #}

<section class="clInterships" id="idInterships"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les derniers Stages Proposés  (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}

{# =================================================================== L'Association Paul Green ===== #}

<section class="clPaulGreen" id="idPaulGreen"> {# Vitrine #}
		<div class="text-center pb-5">
			<h3>Présentation de L'Association Paul Green (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}




{# ================================================================================ #}
{# =================================================================== Master ===== #}
{# ================================================================================ #}


{# =================================================================== Les Actions du Master ===== #}

<section class="clActionsMasters" id="idActionsMasters"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les dernières Actions du Master  (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}

{# =================================================================== Les Sorties ===== #}

<section class="clOutputs" id="idOutputs"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les dernières Sorties Proposées  (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}

{# =================================================================== Le Master ===== #}

<section class="clMaster" id="idMasters"> {# Vitrine #}

<div class="text-center pb-5">
<h3>Présentation du Master  (En Construction) ! ✅</h3>
</div>

</section>
{# ======================================================================== #}






{# =================================================================== Les Partenaires ===== #}

<section class="clPartners" id="idPartners"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les Partenaires ! ✅</h3>
		</div>



</section>


<div class="container my-4">

  {# <p class="font-weight-bold">Bootstrap carousel multiple items is an improved version of the standard bootstrap
    carousel which allows you to put inside more than one element.</p>

  <p><strong>Detailed documentation and more examples of Bootstrap grid you can find in our <a href="https://mdbootstrap.com/docs/standard/components/carousel/"
                                                                                               target="_blank">Bootstrap Carousel Docs</a>.</p>

  <p>See also <a target="_blank" href="https://mdbootstrap.com/docs/standard/plugins/multi-item-carousel/"><strong>Advanced mutli item carousel plugin</strong></a> or <a target="_blank" href="https://mdbootstrap.com/snippets/standard/mdbootstrap/2904002"><strong>multi-item carousel example for the newest Bootstrap 5</strong></a>.</p>

  <hr class="mt-5">

  <p>Built with <a target="_blank" href="https://mdbootstrap.com/docs/standard/">Material Design for Bootstrap</a> - free and powerful Bootstrap UI KIT</p>

  <a class="btn btn-primary me-2" href="https://mdbootstrap.com/docs/standard/getting-started/installation/" target="_blank" role="button">Download MDB UI KIT <i class="fa fa-download"></i></a>
  <a class="btn btn-danger me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/" role="button">Learn more</a>
  <a class="btn btn-success me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/getting-started/" role="button">Tutorials</a>
  <a class="btn btn-dark me-2" target="_blank" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">GitHub <i class="fa fa-github ms-2"></i></a> #}

  <hr class="mb-5"/>

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-bs-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-bs-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-bs-target="#multi-item-example" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#multi-item-example" data-bs-slide-to="1"></li>
      <li data-bs-target="#multi-item-example" data-bs-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>




<div class="container my-5">

  <!-- Section: Introduction -->
  <section class="">


    <hr class="mb-5"/>

  </section>
  <!-- Section: Introduction -->

  <!-- Section: Basic example -->
  <section class="">

    <p><strong>Basic example</strong></p>

    <div class="container my-5">
      <!-- Carousel wrapper -->
      <div
           id="carouselBasicExample"
           class="carousel slide carousel-dark text-center"
           data-bs-ride="carousel"
           >
        <!-- Controls -->
        <div class="d-flex justify-content-center mb-4">
          <button
                  class="carousel-control-prev position-relative"
                  type="button"
                  data-bs-target="#carouselBasicExample"
                  data-bs-slide="prev"
                  >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
                  class="carousel-control-next position-relative"
                  type="button"
                  data-bs-target="#carouselBasicExample"
                  data-bs-slide="next"
                  >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Inner -->
        <div class="carousel-inner py-4">
          <!-- Single item -->
          <div class="carousel-item active">
            <div class="container">
              <div class="row">

                <div class="col-lg-4">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/181.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/183.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div class="container">
              <div class="row">

                <div class="col-lg-4 col-md-12">

                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/185.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/186.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div class="container">
              <div class="row">

                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/187.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                {# <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/188.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div> #}

                {# <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                  <div class="card">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/189.jpg"
                         class="card-img-top"
                         alt="..."
                         />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                       0000000000000000000000000000000000000000
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div> #}

              </div>
            </div>
          </div>

        </div>
        <!-- Inner -->
      </div>
      <!-- Carousel wrapper -->
    </div>

  </section>
  <!-- Section: Basic example -->
</div>



{# ======================================================================== #}








{% endblock %}
