{% extends 'base.html.twig' %}

{% block title %}
	{{ params[0].titleParam }}!
{% endblock %}

{% block body %}

	<section class="sousHeader">
		<div class="border border-2 border-primary rounded-3 p-5 fenetreTitre">
			<h1 class="text-success2">{{ params[0].titleParam }}! ✅</h1>
			<h2>{{ params[0].subtitleParam }} ! ✅</h2>
		</div>
	</section>

	{# {{random(1,100)}} #}


	{# =================================================================== Les News ===== #}

	<section
		class="clNews" id="idNews">

		{# Affichage des nouvelles  : limiter à 5 denières #}
		<div class="text-center pb-5">
			<h3>Les dernières News ! ✅</h3>
		</div>

		{# <div class="container"> #}

		{# <div class="row row-cols-1 row-cols-md-4 g-4"> #}

		{# == Caroussel== #}

			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-indicators">
				{%  set isFirst = 0 %}
				{% for new in theNews %}
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}></button>
					{% set isFirst = isFirst+1 %}
					{# {% else %}
					                        <p>aucune News ???</p> #}
				{% endfor %}
			</div>

			<div class="carousel-inner">

				{%  set isFirst = true %}
				{% for new in theNews %}
					<div class="carousel-item {% if isFirst == true %}active{% endif %}">
						<div class="d-flex flex-row justify-content-center">
							<img src="{{ asset('photosNews/' ~ new.pictureNew) }}" class="d-block imgClass" w-100 width="800" height="400" alt="{{ new.altpicturenew }}">
						</div>
						{% set isFirst = false %}
						<div class="carousel-caption d-none d-md-block">
							<h5>{{ new.titleNew }}</h5>
							<p>{{ new.altpicturenew }}</p>
						</div>
					</div>
					{# {% else %}
					                        <p>aucune News ???</p> #}
				{% endfor %}

			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>

		</div>
		{# ======================================================================= #}

		{# </div> #}
		{# </div> #}

		{# <div id="positionContacts"></div> #}
</section>		

		{# =================================================================== Les Actions Association ===== #}

<section class="clActionsAssos" id="idActionsAssos"> {# Affichage des 5 denières #}

			<div class="text-center pb-5">
				<h3>Les dernières Actions de L'association ! ✅</h3>
			</div>

			{# <div class="container"> #}

			{# <div class="row row-cols-1 row-cols-md-4 g-4"> #}

			{# == Caroussel== #}

				<div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel2"> <div class="carousel-indicators">
					{%  set isFirst = 0 %}
					{% for xTab in theActionsAssos %}
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" class={% if (isFirst==0) %} "active" {% else %} "" {% endif %} aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}></button>
						{% set isFirst = isFirst+1 %}
						{# 
						{% else %}
						<p>aucune News ???</p>
						#}
					{% endfor %}
				</div>

				<div class="carousel-inner">

					{%  set isFirst = true %}
					{% for xTab in theActionsAssos %}
						<div class="carousel-item {% if isFirst == true %}active{% endif %}">
							<div class="d-flex flex-row justify-content-center">
								<img src="{{ asset('photosActionsAssos/' ~ xTab.pictureactionsasso) }}" class="d-block imgClass" w-100 width="800" height="400" alt="{{ xTab.altPictureActionsAssos}}">
							</div>
							{% set isFirst = false %}
							<div class="carousel-caption d-none d-md-block">
								<h5>{{ xTab.titleactionsasso}}</h5>
								<p>{{ xTab.altPictureActionsAssos}}</p>
							</div>
						</div>
						{# {% else %}
						<p>aucune News ???</p> #}
					{% endfor %}

				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>

			</div>

</section>
{# ======================================================================== #}

{# =================================================================== Les Stages ===== #}

<section class="clInterships" id="idInterships"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les derniers Stages Proposés  (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}

{# =================================================================== L'Association Paul Green ===== #}

<section class="clPaulGreen" id="idPaulGreen"> {# Vitrine #}
		<div class="text-center pb-5">
			<h3>Présentation de L'Association Paul Green (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}




{# ================================================================================ #}
{# =================================================================== Master ===== #}
{# ================================================================================ #}


{# =================================================================== Les Actions du Master ===== #}

<section class="clActionsMasters" id="idActionsMasters"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les dernières Actions du Master  (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}

{# =================================================================== Les Sorties ===== #}

<section class="clOutputs" id="idOutputs"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les dernières Sorties Proposées  (En Construction) ! ✅</h3>
		</div>

</section>
{# ======================================================================== #}

{# =================================================================== Le Master ===== #}

<section class="clMaster" id="idMasters"> {# Vitrine #}

<div class="text-center pb-5">
<h3>Présentation du Master  (En Construction) ! ✅</h3>
</div>

</section>
{# ======================================================================== #}






{# =================================================================== Les Partenaires ===== #}

<section class="clPartners" id="idPartners"> {# Affichage des 5 denières #}

		<div class="text-center pb-5">
			<h3>Les Partenaires ! ✅</h3>
		</div>

{# https://gosnippets.com/snippets/bootstrap-carousel-with-cards-in-3-columns #}
{# https://codingyaar.com/bootstrap-carousel-multiple-items-increment-by-1/ #}


<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 6</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 7</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 8</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Card title 9</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Carousel cards title </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








	{# https://bbbootstrap.com/snippets/bootstrap-5-flipping-cards-for-catalog-29291738	 #}
		
{# ================================================================================================== #}
{# ================================================================================================== #}
<div class="container my-4">
{# <p>
	<strong
	>You can use slideshow component for cycling through elements—images or slides of text—like a carousel</strong
	>
</p>
<p>
	Detailed documentation and more examples you can find in our
	<a
	href="https://mdbootstrap.com/docs/standard/components/carousel/"
	target="_blank"
><strong>Bootstrap Carousel Docs</strong></a
	>
</p>
<hr class="mt-5">
<p>Built with <a target="_blank" href="https://mdbootstrap.com/docs/standard/">Material Design for Bootstrap</a> - free and powerful Bootstrap UI KIT</p>
<a class="btn btn-primary me-2" href="https://mdbootstrap.com/docs/standard/getting-started/installation/" target="_blank" role="button">Download MDB UI KIT <i class="fas fa-download"></i></a>
<a class="btn btn-danger me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/" role="button">Learn more</a>
<a class="btn btn-success me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/getting-started/" role="button">Tutorials</a>
<a class="btn btn-dark me-2" target="_blank" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">GitHub <i class="fab fa-github ms-2"></i></a>
<hr class="mb-5"/> #}

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

<!--Controls-->
<div class="controls-top">
<a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
<a class="btn-floating" href="#multi-item-example" data-slide="next"><i
class="fas fa-chevron-right"></i></a>
</div>
<!--/.Controls-->

<!--Indicators-->
<ol class="carousel-indicators">
<li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
<li data-target="#multi-item-example" data-slide-to="1"></li>

</ol>
<!--/.Indicators-->

<!--Slides-->
<div class="carousel-inner" role="listbox">

<!--First slide-->
<div class="carousel-item active">

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

<div class="col-md-3" style="float:left">
<div class="card mb-2">
	<img class="card-img-top"
	  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
	  <div class="card-body">
	<h4 class="card-title">Card title</h4>
	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
		card's content.</p>
	<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

</div>
<!--/.First slide-->

<!--Second slide-->
<div class="carousel-item">

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

<div class="col-md-3" style="float:left">
<div class="card mb-2">
<img class="card-img-top"
src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
<div class="card-body">
<h4 class="card-title">Card title</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
card's content.</p>
<a class="btn btn-primary">Button</a>
</div>
</div>
</div>

</div>
<!--/.Second slide-->



</div>
<!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

{# ================================================================================================== #}
{# ================================================================================================== #}



</section>
{# ======================================================================== #}








{% endblock %}
