{% extends 'base.html.twig' %}

{% block title %}
    {{ params[0].titleParam }}!
{% endblock %}

{% block body %}

<section class="sousHeader">
    <div class="border border-2 border-primary rounded-3 p-5 fenetreTitre">
	    <h1 class="text-success2">{{ params[0].titleParam }}! ✅</h1>
	    <h2>Sous Titre ! ✅</h2>
    </div>
</section>

 {# {{random(1,100)}} #}

<section class="clNews" id="idNews">

{# Affichage des nouvelles  : limiter à 5 denières #}
    <div class="text-center pb-5">
      <h3>Les dernières News ! ✅</h3>
    </div>

    {# <div class="container"> #}

        {# <div class="row row-cols-1 row-cols-md-4 g-4"> #}

            {# == Caroussel== #}

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    {%  set isFirst = 0 %}
                    {% for new in theNews %}
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ isFirst }}" aria-label="Slide {{ isFirst+1 }}" 
                        class={% if (isFirst==0) %} "active" {% else %} "" {% endif %}
                         aria-current={% if (isFirst==0) %} "true" {% else %} "false" {% endif %}>
                      </button> 
                      {% set isFirst = isFirst+1 %}
                    {# {% else %}
                        <p>aucune News ???</p> #}
                    {% endfor %}
                </div>

                <div class="carousel-inner">

                    {%  set isFirst = true %}
                    {% for new in theNews %}
                    <div class="carousel-item {% if isFirst == true %}active{% endif %}">
                      <div class="d-flex flex-row justify-content-center">
                        <img src="{{ asset('photosNews/' ~ new.pictureNew) }}" 
                              class="d-block imgClass" w-100 width="800" height="400" alt="Slide">
                      </div>
                        {% set isFirst = false %}
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ new.titleNew }}</h5>
                            <p>Texte à rajouter</p>
                        </div>
                    </div>
                    {# {% else %}
                        <p>aucune News ???</p> #}
                    {% endfor %}

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>
{# ==== #}

        {# </div> #}
    {# </div> #}

{# <div id="positionContacts"></div> #}

</section>



{% endblock %}
