{% extends 'base.html.twig' %}

{% block title %}SocialNetworks index{% endblock %}

{% block body %}
    <h1>SocialNetworks index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Réseau Social</th>
                <th>Logo</th>
                <th>Code</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social_network in social_networks %}
            <tr>
                {# <td>{{ social_network.id }}</td> #}
                <td>{{ social_network.socialNetwork }}</td>
                <td>{{ social_network.logoSocialnetwork }}</td>
                <td>{{ social_network.codeSocialnetwork }}</td>
                <td>{{ social_network.linkSocialnetwork }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('social_networks_show', {'id': social_network.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('social_networks_edit', {'id': social_network.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('social_networks_new') }}">Nouveau</a>
{% endblock %}
