{% extends 'admin.html.twig' %}

{% block title %}Réseaux Sociaux{% endblock %}

{% block body %}
    <h1>Réseaux Sociaux</h1>

    <div>
        <a class="btn btn-info" href="{{ path('social_networks_new') }}">Nouveau</a>
    </div>
    <hr class="mb-3">        

    <table class="table">
        <thead>
            <tr>
                <th>Réseau Social</th>
                <th>Code Logo</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social_network in social_networks %}
            <tr>
                <td>{{ social_network.socialNetwork }}</td>
                <td>
                    {{ social_network.codeSocialnetwork }} <br>
                    {% if ( social_network.codeSocialnetwork ) %} 
                        <i class="{{ social_network.codeSocialnetwork }}" aria-hidden="true"></i>
                    {% else %}
                        {# ??? #}
                    {% endif %} 
                </td>

                <td>
                    {# {{ social_network.linkSocialnetwork }} #}
                    {% if ( social_network.linkSocialnetwork ) %} 
                        <a href="{{ social_network.linkSocialnetwork }}"><i class="fas fa-link"></i></a>                       
                    {% else %}
                        <i class="fas fa-unlink"></i>
                    {% endif %} 
                </td>
                <td>
                    <a class="btn btn-primary me-1 mb-1" href="{{ path('social_networks_show', {'id': social_network.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('social_networks_edit', {'id': social_network.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
