{% extends 'admin.html.twig' %}

{% block title %}Réseaux Sociaux{% endblock %}

{% block body %}
    <h1>Réseau Social</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Réseau</th>
                <td>{{ social_network.socialNetwork }}</td>
            </tr>
            <tr>
                <th>Logo du réseau</th>
                <td>
                    {% if (social_network.codeSocialnetwork) %}
                        {% set xlogo = social_network.codeSocialnetwork %}
                        <i class="{{ xlogo }}"></i>
                    {% endif %} 
                </td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>
                    {% if (social_network.linkSocialnetwork) %}
                        <a href="{{ social_network.linkSocialnetwork }}" target="_blank">{{ social_network.linkSocialnetwork }}</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <hr class="mb-3">
    <div class="d-flex flex-row my-2">

        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('social_networks_index') }}">Retour</a>

        <a class="btn btn-grad btn-warning2 me-2" href="{{ path('social_networks_edit', {'id': social_network.id}) }}">Modifier</a>

        {{ include('social_networks/_delete_form.html.twig') }}
    
{% endblock %}
