{% extends 'base.html.twig' %}

{% block title %}Les Actions de l'association
{% endblock %}

{% block body %}

	<h1 class="h-grad bg-blueGreen mb-4">Les Actions de l'association</h1>

	{% set xCpt = 0 %}

	{% for actions_asso in actions_assos %}

		{% set xCpt = xCpt + 1 %}

			<div class="{% if ((xCpt % 2) != 0) %}bg-info2{% else %}bg-success2{% endif %} py-4">
				<div class="container">
					<div class="row">

						{% if ((xCpt % 2) != 0) %}
							<div class="col-md-6 clCard">
								<img src="{{ asset('photosActionsAssos/' ~ actions_asso.pictureactionsasso) }}" 
										class="W-100" height="350px" 	
										alt="{{ actions_asso.altPictureActionsAssos }}"
										title="{{ actions_asso.pictureactionsasso }}">
							</div>
						{% endif %}

						<div class="col-md-6">
							<h3>{{ actions_asso.titleactionsasso }}</h3>
							<br>
							<b>
								<i>{{ actions_asso.titleactionsasso }}</i>
							</b>
							<br>

							<div>
								{% if (actions_asso.linkactionsasso) %}
									<p>lien utile :</p>
									{{ actions_asso.titlelinkactionsasso }}
									{{ actions_asso.linkactionsasso }}
									<br>
								{% endif %}
							</div>

							{{ actions_asso.startactionsasso ? actions_asso.startactionsasso|date('d/m/y') : '' }}
							{{ actions_asso.endactionsasso ? actions_asso.endactionsasso|date('d/m/y') : '' }}
						</div>

						{% if ((xCpt % 2) == 0) %}
							<div class="col-md-6 clCard">
								<img src="{{ asset('photosActionsAssos/' ~ actions_asso.pictureactionsasso) }}" 
									class="W-100" height="350px" 
									alt="{{ actions_asso.altPictureActionsAssos }}"
									title="{{ actions_asso.pictureactionsasso }}">
							</div>
						{% endif %}

					</div>

					<div class="row mt-1">
						<div class="col-md-12 border border-2 border-secondary">
							{# {{ actions_asso.textactionsasso|striptags|u.truncate(300, '...') }} #}
							{{ actions_asso.textactionsasso |length > 300 ? actions_asso.textactionsasso |slice(0,300)|raw : actions_asso.textactionsasso|raw }}
							<br>
							<a class="" 
								href="{{ path('posters_actions_assos_show', {'id': actions_asso.id}) }}"
								title="Allez lire la totalité de l'article...">
								Lire la suite ...
							</a>
						</div>
					</div>
                    
				</div>

			</div>

			<hr class="m-0">

	{% else %}
				<div>Aucune donnée</div>
	{% endfor %}

{% endblock %}
