{% extends 'admin.html.twig' %}

{% block title %}Texte Alternatif des photos des actions du Master{% endblock %}

{% block body %}
    <h1>Texte Alternatif des photos des actions du Master</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Photo</th>
                <td>{{ photos_actions_master.photoactionsmaster }}</td>
            </tr>
            <tr>
                <th>Texte alternatif</th>
                <td>{{ photos_actions_master.altphotoactionsmaster }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-grad btn-secondary2 me-2" 
        href="{{ path('app_photos_actions_masters_index') }}">Retour</a>

    <a class="btn btn-grad btn-warning2 me-2" 
        href="{{ path('app_photos_actions_masters_edit', {'id': photos_actions_master.id}) }}">Modifier</a>

    {{ include('photos_actions_masters/_delete_form.html.twig') }}

{% endblock %}
