{{ form_start(form) }}

    {# {{ form_widget(form) }} #}

    {{ form_row(form.filefieldtripphoto) }}

    {% set xPhoto = fieldtripphoto.filefieldtripphoto %} 
    <div width="100px" class="border border-1">
        <img src="{{ asset('photosFieldtrips/' ~ xPhoto) }}" alt="{{ fieldtripphoto.altfieldtripphoto }}" class="h-100"> 
    </div>

    {{ form_row(form.altfieldtripphoto) }} 


    <hr class="mb-3">
    <div class="d-flex flex-row my-2">

        <button class="btn btn-grad btn-success2">{{ button_label|default('Sauver') }}</button>

{{ form_end(form) }}
