{{ form_start(form) }}

    {{ form_widget(form) }}

   {# Si la route est "produits_edit on affiche les photos #}
   {% if app.request.attributes.get('_route') == 'news_edit' %}
        <h2>Photos</h2>
        {% for photo in news.newsPhotosNews %}
            <div>
                <img src="{{ asset('/photosNews/'~photo.photoNewPhoto) }}" alt="" width="150">  
                {# On ajoute un lien permettant de supprimer une photo (sera géré en Ajax) #}
                <a class="btn btn-dnger" href="{{ path('news_delete_photo', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}"> 
                    Supprimer
                </a> 
            </div>
        {% endfor %}
    {% endif %}


    <button class="btn btn-success">{{ button_label|default('Sauver') }}</button>
    
{{ form_end(form) }}
