{{ form_start(form) }}

    {# {{ form_widget(form) }} #}

    {{ form_row(form.titleNew) }}

    {{ form_row(form.shorttextnew) }}

    <div class="mb-3">
        {{ form_label(form.pictureNew) }}
        {% if app.request.attributes.get('_route') == 'partners_edit' %}
            {% if (news.pictureNew) %}
                {% set xlogo = news.pictureNew %}
                <img src="{{ asset('photosNews/' ~ xlogo) }}" width="100" alt="{{ news.altpictureNew }}">
            {% endif %} 
        {% endif %} 
        {{ form_widget(form.pictureNew) }}
    </div>

    {{ form_row(form.altpictureNew) }}

    {{ form_row(form.dateNew) }}
    
    {{ form_row(form.textNew) }}

    {{ form_row(form.newsPhotosNews) }} 

   {% if app.request.attributes.get('_route') == 'news_edit' %}
        <h2>Photos</h2>
        <div class="d-flex flex-row">
            {% for photo in news.newsPhotosNews %}
                <div class="card me-2" style="width: 150px;">
                    <img class="card-img-top" src="{{ asset('/photosNews/'~photo.photoNewPhoto) }}" alt="{{ photo.altNewsPhoto }}" width="150" height="150">  
                    <a href="{{ path('news_delete_photo', {id: photo.id})}}" 
                            data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}" 
                            class="btn btn-grad btn-danger2">
                        Supprimer
                    </a>     
                    {# <div class="card-body p-0 d-flex flex-column justify-content-between">
                        <p class="card-text fst-italic">{{ photo.altNewsPhoto }}</p>
                        <div class="card-footer">
                            <a href="{{ path('news_delete_photo', {id: photo.id})}}" 
                                    data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}" 
                                    class="btn btn-grad btn-danger2">
                                Supprimer
                            </a>                
                        </div>                
                    </div> #}
                </div>
        {% endfor %}
    </div>
    {% endif %}

    <hr class="mb-3">
    {# <div class="d-flex flex-row my-2"> #}
    <div class="d-flex flex-row my-2 bg-secondary py-2 ps-3">
        <button class="btn btn-grad btn-success2 me-2">{{ button_label|default('Sauver') }}</button>


{# <hr class="mb-1">
<div class="d-flex flex-row my-2 bg-secondary py-2 ps-3">
	<button class="btn btn-grad btn-success2 me-2">{{ button_label|default('Sauver') }}</button>
    <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('news_index') }}">Retour</a>
    {{ include('news/_delete_form.html.twig') }}
</div>
<hr class="mt-1"> #}

{{ form_end(form) }}

{# FIN DE FORM ============================================================================================ #}
