{% extends 'admin.html.twig' %}

{% block title %}Les News{% endblock %}

{% block body %}
    <h1>Les News</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Titre</th>
                <th>Date</th>
                <th>Photo</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                {# <td>{{ news.id }}</td> #}
                <td>{{ news.titleNew }}</td>
                <td>{{ news.dateNew ? news.dateNew|date('d-m-Y H:i:s') : '' }}</td>

                {# <td>{{ news.pictureNew }}</td> #}
                <td>
                    <img src="{{ asset('photosNews/' ~ news.pictureNew) }}" width="100">
                    {# {{ app.user.id }} #}
                </td>

                {# <td>{{ news.textNew }}</td> #}
                <td>
                    {{ news.textNew |length > 300 ? news.textNew |slice(0,300)|raw : news.textNew|raw }}
          {# {{ news.textNew|striptags|u.truncate(50, '...') }} #}
                    {# {% if news.textNew |length > 300 %}
                        <a class="" href="{{ path('news_show', {'id': news.id}) }}">lire la suite...</a>
                    {% endif %}   #}                    
                </td>    
                <td>
                    <a class="btn btn-primary" href="{{ path('news_show', {'id': news.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de Saisie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('news_new') }}">Nouveau</a>
    
{% endblock %}
