{% extends 'admin.html.twig' %}

{% block title %}Les News{% endblock %}

{% block body %}
    <h1>Les News</h1>

    <div class="">
        <a class="btn btn-grad btn-info2" href="{{ path('news_new') }}">Nouveau</a>
    </div>
    <hr class="mb-3">     

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Photo</th>
                <th>Contenu court</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.titleNew }}</td>
                <td>{{ news.dateNew ? news.dateNew|date('d/m/y') : '' }}</td>

                    <td>
                        <img src="{{ asset('photosNews/' ~ news.pictureNew) }}" width="100" 
                            alt="{{ news.altpicturenew }}">
                        <br>
                        <span class="textAlt">
                            {{ news.altpicturenew }}
                        </span>
                    </td>   

                <td>
                    {{ news.shorttextnew }}
                    {# {{ news.textNew|striptags|u.truncate(50, '...') }} #}
                    {# {{ news.textNew |length > 300 ? news.textNew |slice(0,300)|raw : news.textNew|raw }} #}
                    {# {% if news.textNew |length > 300 %}
                        <a class="" href="{{ path('news_show', {'id': news.id}) }}">lire la suite...</a>
                    {% endif %}   #}                    
                </td>    
                <td>
                    <a class="btn btn-grad btn-primary2 me-1 mb-1" href="{{ path('news_show', {'id': news.id}) }}">Afficher</a>
                    <a class="btn btn-grad btn-warning2" href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de Saisie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
