{% extends 'admin.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr> #}
            <tr>
                <th>Titre</th>
                <td>{{ news.titleNew }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ news.dateNew ? news.dateNew|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Photo Principale</th>
                <td>{{ news.pictureNew }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                {# <td>{{ news.textNew }}</td> #}
                <td>
                        {{ news.textNew |length > 300 ? news.textNew |slice(0,300)|raw : news.textNew |raw }}
                        {# {% if news.textNew |length > 300 %}
                            <a class="" href="{{ path('news_show', {'id': news.id}) }}">lire la suite...</a>
                        {% endif %}   #}                    
                </td>                      
            </tr>
            <tr>
                <th>Photos</th>
                <td>   
                    {# Si la route est "produits_edit on affiche les photos #}
                    {% if app.request.attributes.get('_route') == 'news_show' %}
                        <div class="d-flex flex-row">
                            {% for photo in news.newsPhotosNews %}
                                <div class="" >
                                    <img src="{{ asset('/photosNews/'~photo.photoNewPhoto) }}" alt="" width="150">  
                                    {# On ajoute un lien permettant de supprimer une photo (sera géré en Ajax) #}
                                    {# <a href="{{ path('news_delete_photo', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}"> 
                                    Supprimer
                                    </a>  #}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}        
                </td> 
            </tr>

        </tbody>
    </table>

    <a class="btn btn-secodary" class="btn btn-secondary" href="{{ path('news_index') }}">Retour</a>

    <a class="btn btn-warning" href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>

    {{ include('news/_delete_form.html.twig') }}
    
{% endblock %}
