{% extends 'admin.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ news.titleNew }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ news.dateNew ? news.dateNew|date('d/m/y') : '' }}</td>
            </tr>
            <tr>
                <th>Photo Principale</th>
                <td>
                    {% if (news.pictureNew) %}
                        <img src="{{ asset('photosNews/' ~ news.pictureNew) }}"
                            alt="{{ news.altpictureNew }}" width="100">
                        <span class="textAlt">{{ news.altpictureNew }}</span> 
                    {% endif %}  

                </td>
            </tr>
            <tr>
                <th>Texte de présentation court</th>
                <td>
                    {{ news.shorttextnew }}
                    {# {{ news.textNew|striptags|u.truncate(300, '...') }} #}
                        {# {{ news.textNew |length > 300 ? news.textNew |slice(0,300)|raw : news.textNew |raw }} #}
                        {# {% if news.textNew |length > 300 %}
                            <a class="" href="{{ path('news_show', {'id': news.id}) }}">lire la suite...</a>
                        {% endif %}   #}                    
                </td>                      
            </tr>
            
            <tr>
                <th>Photos</th>
                <td>   
                    {% if app.request.attributes.get('_route') == 'news_show' %}
                        <div class="d-flex flex-row">
                            {% for photo in news.newsPhotosNews %}
                                <div class="card me-2" style="width: 150px;">
                                    <img src="{{ asset('/photosNews/'~photo.photoNewPhoto) }}"
                                        class="border border-2 rounded-3"
                                        alt="{{ photo.altNewsPhoto }}" width="150" height="150">  
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}        
                </td> 
            </tr>

        </tbody>
    </table>

    <hr class="mb-3">
    <div class="d-flex flex-row my-2">
        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('news_index') }}">Retour</a>
        <a class="btn btn-grad btn-warning2 me-2" href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>
        {{ include('news/_delete_form.html.twig') }}
    
{% endblock %}
