{{ form_start(form) }}

    {{ form_widget(form) }}

        <p>Images</p> 
        <div class="d-flex flex-row">
            <img src="{{ asset('photosActionsAssos/' ~ actions_asso.pictureactionsasso) }}" width="100">
                        {# On ajoute un lien permettant de supprimer une photo (sera géré en Ajax) #}
            {# <a href="{{ path('actions_assos_delete_images', {'id': actions_asso.id})}}">  #}
            {# <a href="{{ path('actions_assos_delete_images', {'id': actions_asso.id})}}"> 
                Supprimer
            </a>  #}
        </div>

        <p>Photos</p>
        <div class="d-flex flex-row">
            {% for photo in actions_asso.actionsassosphoto %}
                <div class="" >                           
                    <img src="{{ asset('/photosActionsAssos/'~photo.photoactionsasso) }}" alt="" width="150">  
                    {# On ajoute un lien permettant de supprimer une photo (sera géré en Ajax) #}
                    <a href="{{ path('actions_assos_delete_photo', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}"> 
                        Supprimer
                    </a>
                </div>
            {% endfor %}
        </div>

    <hr class="mb-3">

    <div class="d-flex flex-row my-2">
  
        <button class="btn btn-success">{{ button_label|default('Sauver') }}</button>

{{ form_end(form) }}
