{{ form_start(form) }}

    {{ form_widget(form) }}

        <p>Images</p> 
        <div class="d-flex flex-row">
            <img src="{{ asset('photosActionsAssos/' ~ actions_asso.pictureactionsasso) }}" width="100">
        </div>

        <p>Photos</p>
        <div class="d-flex flex-row">
            {% for photo in actions_asso.actionsassosphoto %}
                <div class="" >                           
                    <img src="{{ asset('/photosActionsAssos/'~photo.photoactionsasso) }}" 
                        alt="" width="150"
                        title="{{ photo.photoactionsasso }}">  
                    <a href="{{ path('actions_assos_delete_photo', {id: photo.id})}}" 
                        data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}"> 
                        Supprimer
                    </a>
                </div>
            {% endfor %}
        </div>

    <hr class="mb-3">

    <div class="d-flex flex-row my-2">
  
        <button class="btn btn-success me-2">{{ button_label|default('Sauver') }}</button>

{{ form_end(form) }}
