{% extends 'admin.html.twig' %}

{% block title %}Actions de l'association{% endblock %}

{% block body %}
    <h1>Les actions de l'association</h1>
    
    <div>
        <a class="btn btn-grad btn-info2 me-2" href="{{ path('actions_assos_new') }}">Nouveau</a>
    </div>
    <hr class="mb-3">
    
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image Principal</th>
                <th>Texte</th>
                <th>Lien</th>
                <th>Dates</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actions_asso in actions_assos %}
            <tr>
                <td>{{ actions_asso.titleactionsasso }}</td>
                    <td>
                        <img src="{{ asset('photosActionsAssos/' ~ actions_asso.pictureactionsasso) }}" width="100" alt="{{ actions_asso.altPictureActionsAssos }}">
                        <br>
                        {{ actions_asso.altPictureActionsAssos }}
                    </td>                    
                <td>{{ actions_asso.textactionsasso|striptags|u.truncate(50, '...') }}</td>
                <td>
                    {{ actions_asso.titlelinkactionsasso }}
                    <br>
                    {% if ( actions_asso.linkactionsasso ) %} 
                        <a href="{{ actions_asso.linkactionsasso }}" target="_blank"><i class="fas fa-link"></i></a>                       
                    {% else %}
                        <i class="fas fa-unlink"></i>
                    {% endif %} 
                </td>
                <td>
                    Début : {{ actions_asso.startactionsasso ? actions_asso.startactionsasso|date('d/m/y') : '' }}
                    <br>
                    Fin : {{ actions_asso.endactionsasso ? actions_asso.endactionsasso|date('d/m/y') : '' }}
                </td>
                <td>
                    <a class="btn btn-grad btn-primary2 me-1 mb-1" href="{{ path('actions_assos_show', {'id': actions_asso.id}) }}">Afficher</a>
                    <a class="btn btn-grad btn-warning2" href="{{ path('actions_assos_edit', {'id': actions_asso.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
