{% extends 'admin.html.twig' %}

{% block title %}Une Action{% endblock %}

{% block body %}
    <h1 class="text-center bg-logoGreen1">Une Action</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ actions_asso.titleactionsasso }}</td>
            </tr>
            <tr>
                <th>Image Principal</th>
                <td>
                    {# {{ actions_asso.pictureactionsasso }}
                    {{ actions_asso.altPictureActionsAssos }} #}
                    {% if actions_asso.pictureactionsasso %}
                        <img  class="border border-2" 
                            src="{{ asset('photosActionsAssos/' ~ actions_asso.pictureactionsasso) }}"
                            alt="{{ actions_asso.altPictureActionsAssos }}"
                            width="150" title="{{ actions_asso.pictureactionsasso }}">
                        <div class="fw-light fst-italic">
                            {{ actions_asso.altPictureActionsAssos }}
                        </div>                       
                    {% else %}   
                        <p>Pas de Photo</p>
                    {% endif %}	

                </td>
            </tr>
            <tr>
                <th>Texte de présentation</th>
                <td>{{ actions_asso.shorttextactionsasso }}</td>
                {# <td>{{ actions_asso.textactionsasso|raw }}</td> #}
                </tr>
            <tr>
                <th>Titre de Lien</th>
                <td>{{ actions_asso.titlelinkactionsasso }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ actions_asso.linkactionsasso }}</td>
            </tr>
            <tr>
                <th>Date de Début</th>
                <td>{{ actions_asso.startactionsasso ? actions_asso.startactionsasso|date('d/m/y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Fin</th>
                <td>{{ actions_asso.endactionsasso ? actions_asso.endactionsasso|date('d/m/y') : '' }}</td>
            </tr>

            <tr>
            <th>Photos</th>
                <td>   
                {# Si la route est "produits_edit on affiche les photos #}
                {% if app.request.attributes.get('_route') == 'actions_assos_show' %}
                    <div class="d-flex flex-row">
                         {% for photo in actions_asso.actionsassosphoto %}
                            <div class="" >                           
                                  <img src="{{ asset('/photosActionsAssos/'~photo.photoactionsasso) }}" 
                                    alt="{{ photo.altphotoactionsasso }}" width="150">  
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}        
                </td> 
            </tr>

        </tbody>
    </table>

    <hr class="mb-3">

    <div class="d-flex flex-row my-2">

        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('actions_assos_index') }}">Retour</a>
        <a class="btn btn-grad btn-warning2" href="{{ path('actions_assos_edit', {'id': actions_asso.id}) }}">Modifier</a>
        {{ include('actions_assos/_delete_form.html.twig') }}
    
{% endblock %}
