{% extends 'admin.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ actions_asso.id }}</td>
            </tr> #}
            <tr>
                <th>Titre</th>
                <td>{{ actions_asso.titleactionsasso }}</td>
            </tr>
            <tr>
                <th>Image Principal</th>
                <td>
                    {{ actions_asso.pictureactionsasso }}
                    {{ actions_asso.altPictureActionsAssos }}
                </td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ actions_asso.textactionsasso|raw }}</td>
                </tr>
            <tr>
                <th>Titre de Lien</th>
                <td>{{ actions_asso.titlelinkactionsasso }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ actions_asso.linkactionsasso }}</td>
            </tr>
            <tr>
                <th>Date de Début</th>
                <td>{{ actions_asso.startactionsasso ? actions_asso.startactionsasso|date('d/m/y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Fin</th>
                <td>{{ actions_asso.endactionsasso ? actions_asso.endactionsasso|date('d/m/y') : '' }}</td>
            </tr>

            <tr>
            <th>Photos</th>
                <td>   
                {# Si la route est "produits_edit on affiche les photos #}
                {% if app.request.attributes.get('_route') == 'actions_assos_show' %}
                    <div class="d-flex flex-row">
                         {% for photo in actions_asso.actionsassosphoto %}
                            <div class="" >                           
                                  <img src="{{ asset('/photosActionsAssos/'~photo.photoactionsasso) }}" 
                                    alt="" width="150">  
                                {# On ajoute un lien permettant de supprimer une photo (sera géré en Ajax) #}
                                {# <a href="{{ path('news_delete_photo', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}"> 
                                Supprimer
                                </a>  #}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}        
                </td> 
            </tr>

        </tbody>
    </table>

    <hr class="mb-3">

    <div class="d-flex flex-row my-2">

        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('actions_assos_index') }}">Retour</a>

        {# <a class="btn btn-warning me-2" href="{{ path('actions_assos_edit', {'id': actions_asso.id}) }}">Modifier</a> #}
        <a class="btn btn-grad btn-warning2" 
            style="background-image: linear-gradient(to right, rgb(247, 151, 30) 0%, rgb(255, 210, 0) 51%, rgb(247, 151, 30) 100%);"
            href="{{ path('actions_assos_edit', {'id': actions_asso.id}) }}">Modifier</a>

        {{ include('actions_assos/_delete_form.html.twig') }}
    
{% endblock %}
