<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Association Paul Green{% endblock %}</title>

	<meta name="description" content={{render(controller('App\\Controller\\MainController::paramRecup'))}} & " || Campus BIODIV+  ||  Faire de l’Université Paul Valéry un campus à biodiversité positive" <meta="" charset="UTF-8"> 

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {# {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %} #}
        
    {# {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %} #}       

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="public/images/favicon.ico" /> -->
    <link rel="shortcut icon" type="image/png" href="public/icones/logo.png" />

    <!-- Icons-->
    <script src="https://kit.fontawesome.com/da224091e6.js" crossorigin="anonymous"></script>
    {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}

    <!-- Fonts-->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,900;1,500;1,600;1,900&display=swap" rel="stylesheet">

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{{asset('css/styles.css')}}">
    <script src="{{asset('js/photos.js')}}" defer></script>

</head>

<body>

    <!-- ========================================== -->
    <div class="container-fluid overflow-hidden">

        <div class="row vh-100 overflow-auto">

            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5">A<span class="d-none d-sm-inline">dministration</span></span>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">

                        <li class="nav-item">
                            <a href="{{ path('home') }}" class="nav-link px-sm-0 px-2">
                                <i class="fas fa-home"></i>
                                <span class="ms-1 d-none d-sm-inline"> Accueil </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('params_index') }}" class="nav-link px-sm-0 px-2">
                                <i class="fas fa-laptop-house"></i>
                                <span class="ms-1 d-none d-sm-inline">Paramètres</span>
                            </a>
                        </li>
{# === Adhérents #}
                        {# <li class="nav-item">
                            <a href="{{ path('users_index') }}" class="nav-link px-sm-0 px-2">
                                <i class="fas fa-users-cog"></i>
                                <span class="ms-1 d-none d-sm-inline"> Adhérents </span>
                            </a>
                        </li> #}
                                                {# <li>
                            <a href="{{ path('functions_index') }}" class="nav-link px-sm-0 px-2">
                                <i class="fas fa-user-graduate"></i>
                                <span class="ms-1 d-none d-sm-inline">Fonctions</span>
                            </a>
                        </li> #}
                        <li class="dropdown">
                          <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-users-cog"></i>
                            <span class="ms-1 d-none d-sm-inline"> Adhérents</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('users_index') }}">
                                        <i class="fas fa-users-cog"></i>
                                        <span class="ms-1 d-none d-sm-inline"> Adhérents</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('functions_index') }}">
                                        <i class="fas fa-user-graduate"></i>
                                        <span class="ms-1 d-none d-sm-inline"> Fonctions</span>
                                    </a>
                                </li>
 
                            </ul>
                        </li>
{# === #}


{# === Partenaires #}
{# <li>
    <a href="{{ path('home') }}" class="nav-link px-sm-0 px-2">
        <i class="far fa-handshake"></i>
        <span class="ms-1 d-none d-sm-inline">Partenaires</span></a>
</li>
<li>
    <a href="{{ path('home') }}" class="nav-link px-sm-0 px-2">
<i class="fas fa-hat-cowboy-side"></i>
        <span class="ms-1 d-none d-sm-inline">Regroupement Partenaires</span></a>
</li> #}

                        <li class="dropdown">
                          <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="far fa-handshake"></i>
                            <span class="ms-1 d-none d-sm-inline"> Partenaires</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('partners_index') }}">
                                        <i class="far fa-handshake"></i>
                                        <span class="ms-1 d-none d-sm-inline"> Partenaires</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('grouping_partners_index') }}">
                                        <i class="fas fa-hat-cowboy-side"></i>
                                        <span class="ms-1 d-none d-sm-inline"> Regroupement Partenaires</span>
                                    </a>
                                </li>
 
                            </ul>
                        </li>
{# === #}
                        <li>
                            <a href="{{ path('news_index') }}" class="nav-link px-sm-0 px-2">
                                <i class="far fa-newspaper"></i>
                                <span class="ms-1 d-none d-sm-inline"> News</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="{{ path('themes_index') }}" class="nav-link px-sm-0 px-2">
                                 <i class="fab fa-affiliatetheme"></i>
                                <span class="ms-1 d-none d-sm-inline"> Thèmes</span>
                            </a>
                        </li>
                        {# <li>
                            <a href="{{ path('home') }}" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                                <i class="fas fa-laptop-house"></i>
                                <span class="ms-1 d-none d-sm-inline">Paramètres</span>
                            </a>
                        </li> #}


                        

                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Joe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            {# <div class="col d-flex flex-column h-sm-100">
                <main class="row overflow-auto">
                    <div class="col pt-4">
                        <h3>xxxxxxxxxxxxxxxxVertical Sidebar that switches to Horizontal Navbar</h3>
                        <p class="lead">An example multi-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single menu is be open at a time.</p>
                        <hr />
                        <h3>More content...</h3>
                        <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag
                            cronut semiotics, raw denim deep v xxtaxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics
                            ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
                        <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg
                            slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's
                            Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>
                    </div>
                </main>
                <footer class="row bg-light py-4 mt-auto">
                    <div class="col"> Footer content here... </div>
                </footer>
            </div> #}

            <div class="col d-flex flex-column h-sm-100">
                 {% block body %}{% endblock %}
            </div> 


        </div>

    </div>

    <!-- SCRIPT - Bootstrap  ==================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
    {# <script src="app.js"></script> #}


</body>

</html>