{% extends 'base.html.twig' %}

{% block title %}
	Les Sorties Universitaires
{% endblock %}

{% block body %}

	<h1 class="text-center mb-4">Les Sorties Universitaires</h1>

	{% set xCpt = 0 %}

	{% for fieldtrip in fieldtrips %}

		{% set xCpt = xCpt + 1 %}

			<div class="{% if ((xCpt % 2) != 0) %}bg-info2{% else %}bg-success2{% endif %} py-4">
				<div class="container">
					<div class="row">

						{% if ((xCpt % 2) != 0) %}
							<div class="col-md-6 clCard">
								<img src="{{ asset('photosFieldtrips/' ~ fieldtrip.picturefieldtrip) }}" 
									class="W-100" 
									height="350px" 	
									alt="{{ fieldtrip.altpicturefieldtrip }}"
									title="{{ fieldtrip.picturefieldtrip }}">
							</div>
						{% endif %}

						<div class="col-md-6">
							<h3>{{ fieldtrip.titlefieldtrip }}</h3>
							<br>
							{{ fieldtrip.datefieldtrip ? fieldtrip.datefieldtrip|date('d/m/y') : '' }}
						</div>

						{% if ((xCpt % 2) == 0) %}
							<div class="col-md-6 clCcard">
								<img src="{{ asset('photosFieldtrips/' ~ fieldtrip.picturefieldtrip) }}" 
									class="W-100" 
									height="350px" 
									alt="{{ fieldtrip.altpicturefieldtrip }}"
									title="{{ fieldtrip.pictureFieldtrip }}">
							</div>
						{% endif %}

					</div>

					<div class="row mt-1">
						<div class="col-md-12 border border-2 border-secondary">
							{{ fieldtrip.textfieldtrip |length > 300 ? fieldtrip.textfieldtrip |slice(0,300)|raw : fieldtrip.textfieldtrip|raw }}
							<br>
							<a class="btn btn-primary btn-sm" 
								href="{{ path('posters_fieldtrips_show', {'id': fieldtrip.id}) }}"
								title="Allez lire la totalité de l'article...">
								Lire la suite et voir plus de photos ...
							</a>
						</div>
					</div>
                    
				</div>

			</div>

			<hr class="m-0">

	{% else %}
				<div>Aucune donnée</div>
	{% endfor %}

{% endblock %}
