{% extends 'admin.html.twig' %}

{% block title %}Themes{% endblock %}

{% block body %}
    <h1>Themes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Thème</th>
                <td>{{ theme.nameTheme }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ theme.descriptionTheme }}</td>
            </tr>
        </tbody>
    </table>

    <hr class="mb-3">

    <div class="d-flex flex-row my-2">

        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('themes_index') }}">Retour</a>

        <a class="btn btn-grad btn-warning2 me-2" href="{{ path('themes_edit', {'id': theme.id}) }}">Modifier</a>

        {{ include('themes/_delete_form.html.twig') }}
    
{% endblock %}
