{% extends 'admin.html.twig' %}

{% block title %}Themes{% endblock %}

{% block body %}
    <h1>Themes</h1>

    <table class="table">
        <tbody>
            <tr>
                {# <th>Id</th> #}
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>Thème</th>
                <td>{{ theme.nameTheme }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ theme.descriptionTheme }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('themes_index') }}">Retour</a>

    <a class="btn btn-warning" href="{{ path('themes_edit', {'id': theme.id}) }}">Modifier</a>

    {{ include('themes/_delete_form.html.twig') }}
    
{% endblock %}
