<div class="container">
	<div class="row">
		<div class="col-md-8">

			{{ form_start(form) }}
			{# {{ form_widget(form) }} #}

			{# <h2 class="text-center text-decoration-underline">Adhérents</h2> #}

			<table class="table">
				<tbody>
					<tr>
						<th>Nom :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>
							{{ form_widget(form.nameUser) }}
						</td>
					</tr>
					<tr>
						<th>Prénom :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.firstNameUser) }}</td>
					</tr>
					<tr>
						<th>Photo :</th>
						<td>
							{{ form_widget(form.photoUser) }}
							<hr>
							<img src="{{ asset('photosAdherents/' ~ user.photoUser) }}" width="100" alt="{{ user.nameUser }} {{ user.firstNameUser }}">
						</td>
					</tr>					
					<tr>
						<th>Adresse 1:</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.address1User) }}</td>
					</tr>
					<tr>
						<th>Adresse 2 :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.address2User) }}</td>
					</tr>
					<tr>
						<th>Code Postal :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.cpUser) }}</td>
					</tr>
					<tr>
						<th>Ville :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.townUser) }}</td>
					</tr>
					<tr>
					<th>Téléphone <i>(commence par 0,sans espace)</i>:</th>
					{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.phoneUser) }}</td>
					</tr>
					<tr>
						<th>Mail :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.email) }}</td>
					</tr>
					<tr>
						<th>Etudiant en :</th>
						{# <td><input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" value="{{ contact.emailContact }}"></td> #}
						<td>{{ form_widget(form.studyUser) }}</td>
					</tr>
					<tr>
						<th>Année inscription :</th>
						<td>{{ form_widget(form.yearMenbershipUser) }}</td>
					</tr>


				    {% if app.user.roles[0]=="ROLE_ADMIN" %} 
						<tr>
							<th>Fonction(s) :</th>
							<td>{{ form_widget(form.functionUser) }}</td>	
						</tr>
					{% endif %}
	
				{# {% if app.user.roles[0]=="ROLE_ADMIN" %} #}
					{# <tr class=(app.user.roles[0]=="ROLE_ADMIN") ? '' : 'd-none'>
					{% if app.user.roles[0]=="ROLE_ADMIN" %}
						<th>Fonction(s) :</th>
					{% endif %}
                        <td>{{ form_widget(form.functionUser, {"attr": {"class": (app.user.roles[0]=="ROLE_ADMIN") ? '' : 'd-none'}}) }}</td> #}
                        {# <td>{{ form_widget(form.functionUser, {"attr": {"class": "d-none"}}) }}</td>					 #}
						{# <td>{{ form_widget(form.functionUser) }}</td> #}
					{# </tr> #}
				{# {% endif %} #}

					{% if app.user.roles[0]=="ROLE_ADMIN" %} 
						<tr>
							<th>Newsletter :</th>
	                        <td>
    		                    {{ form_widget(form.newslettersNewsUser) }}
                        		{{ form_widget(form.newsletterIntershipUser) }}
                        		{{ form_widget(form.newsletterAssosUser) }}
                       	 		{{ form_widget(form.contactinfoUser) }}
{# 						
						{% if app.user.roles[0]=="ROLE_ADMIN" %}
						{{ form_label(form.newslettersNewsUser) }}
                        {{ form_label(form.newsletterIntershipUser, {"attr": {"class": (app.user.roles[0]=="ROLE_ADMIN") ? '' : 'd-none'}}) }}
                        {{ form_label(form.newsletterAssosUser, {"attr": {"class": (app.user.roles[0]=="ROLE_ADMIN") ? '' : 'd-none'}}) }}
                        {{ form_label(form.contactinfoUser, {"attr": {"class": (app.user.roles[0]=="ROLE_ADMIN") ? '' : 'd-none'}}) }} #}
						</td>						
					{% endif %}
						

					</tr>
				</tbody>
			</table>
			<button class="btn btn-success">{{ button_label|default('Sauver') }}</button>
			{{ form_end(form) }}
        </div>
	</div>
</div>
