{% extends 'admin.html.twig' %}

{% block title %}Liste des Adhérents{% endblock %}

{% block body %}
    <h1>Liste des Adhérents</h1>
    <p class="text-danger">POUR CREER UN NOUVEAU ADHERENT, PASSER PAR L'OPTION DU MENU "Création d'un compte" !</p>

    <hr class="mb-3">    

    <table class="table">
        <thead>
            <tr>
                <th>Adhérent</th>
                <th>Adresse</th>
                <th>Photo</th>
                <th>Etudiant</th>
                <th>Année</th>
                <th>News letters</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <b>{{ user.nameUser }} {{ user.firstNameUser }} </b> <br>
                    <i class="fas fa-at"></i> {{ user.email }}<br>
                    <i class="fas fa-phone-square-alt"></i>  {{ user.phoneUser }} <br>

                    {# {{ user.roles ? user.roles|json_encode : '' }} #}

                    {% set role = user.roles[0] %}
                    {% if role=="ROLE_ADMIN" %}
                        <span class="text-danger bg-dark py-1 px-5">Administrateur</span>
                    {% elseif role=="ROLE_GE"%}
                        <span class="text-logoGreen0 bg-dark py-1 px-5">Adhérent GE</span>
                    {% elseif role=="ROLE_OTHER" %}
                        <span class="text-logoGreen1 bg-secondary py-1 px-3">Adhérent Autre Master</span>                        
                    {% else %}
                        <span class="text-logoGreen2 bg-light py-1 px-4">Adhérent Autre</span>   
                    {% endif %}

                    {# {% set break = false %}
                    {% for role in user.roles if not break %}
                        {% if role=="ROLE_ADMIN" %}
                            Administrateur
                            {% set break = true %}
                        {% elseif role=="ROLE_GE"%}
                            Adhérent GE
                            {% set break = true %}
                        {% elseif role=="ROLE_OTHER" %}
                            Adhérent Autre Master
                            {% set break = true %}
                        {% else %}
                            Adhérent Autre
                            {% set break = true %}
                        {% endif %}
                    {% endfor %} #}

                </td>

                <td>
                    {{ user.address1User }} <br>
                    {{ user.address2User }} <br>
                    {{ user.cpUser }}  {{ user.townUser }}
                </td>

                <td>
                    {% if user.photoUser %}
                        <img  class="border-end border-bottom border-5 rounded-circle" 
                            width="100px" height="100px"
                            src="{{ asset('photosAdherents/' ~ user.photoUser) }}"
                            alt="{{ user.nameUser }} {{ user.firstNameUser }}">                    
                    {% else %}   
                        <img  class="border-end border-bottom border-5 rounded-circle" 
                            width="100px" height="100px"
                            src="{{ asset('icones/PasDeTete.png') }}"
                            alt="{{ user.nameUser }} {{ user.firstNameUser }}">  
                    {% endif %}                 
                </td>

 
                <td>{{ user.studyUser }}</td>
                <td>{{ user.yearMenbershipUser }}</td>

                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {{ user.newslettersNewsUser ? 'checked' : '' }} disabled>
                        <label class="form-check-label" for="flexSwitchCheckChecked">News</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {{ user.newsletterIntershipUser ? 'checked' : '' }} disabled>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Stages</label>
                    </div>                   
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {{ user.newsletterAssosUser ? 'checked' : '' }} disabled>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Assos</label>
                    </div>                    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {{ user.contactinfoUser ? 'checked' : '' }} disabled>
                        <label class="form-check-label" for="flexSwitchCheckChecked">contact</label>
                    </div>
                    {# News : {{ user.newslettersNewsUser ? 'Yes' : 'No' }} <br>
                    Stage : {{ user.newsletterIntershipUser ? 'Yes' : 'No' }} <br>
                    Assos : {{ user.newsletterAssosUser ? 'Yes' : 'No' }} <br> 
                   Contact : {{ user.contactinfoUser ? 'Yes' : 'No' }} #}
            </td>

                <td>
                     <div class="col d-flex flex-column">
                     <a class="btn btn-grad btn-primary2 me-1 mb-1" href="{{ path('users_show', {'id': user.id}) }}">Afficher</a>
                     <a class="btn btn-grad btn-warning2" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                    </div>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucun Adhérent</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#
<div>
<a class="btn btn-grad btn-info2 me-2" href="{{ path('users_new') }}">Nouveau</a> 
</div>
#}
    
{% endblock %}
