{% extends 'base.html.twig' %}

{% block title %}Bureau{% endblock %}

{% block body %}

<div class="container clBureau">
    <h1 class="h-grad bg-blueGreen">Les membres du Bureau</h1>

        <hr class="mb-3"> 

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for user in office %}

            {# <section class="ombre"> #}

                <div class="col">
                    {# <div class="card h-100"> #}
                    <div class="card text-center ombre">
                        <div class="d-flex justify-content-center">
                            {% if user.photoUser %}
                                <img  class="border-end border-bottom border-5 rounded-circle" 
                                    src="{{ asset('photosAdherents/' ~ user.photoUser) }}"
                                    alt="{{ user.nameUser }} {{ user.firstNameUser }}">                    
                            {% else %}   
                                <img  class="border-end border-bottom border-5 rounded-circle" 
                                    src="{{ asset('icones/PasDeTete.png') }}"
                                    alt="{{ user.nameUser }} {{ user.firstNameUser }}">  
                            {% endif %}
                        </div>
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">{{ user.nameUser }} {{ user.firstNameUser }}</h5> 
                            {# <p class="card-text"><i class="fas fa-at"></i> {{ user.email }}</p> #}
                            <a class="clRond" 
                                href="mailto:{{ user.email }}
                                    ?subject=Sujet du mail...
                                    &cc={{ params[0].emailParam}}
                                    &body=Bonjour {{ user.nameUser }} {{ user.firstNameUser }} ...
                                    "
                                    rel="" title="">
                                    {# &bcc=avocat@antonio.net #}
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a class="card-text text-decoration-none" 
                                href="mailto:{{ user.email }}
                                    ?subject=Sujet du mail...
                                    &cc={{ params[0].emailParam}}
                                    &body=Bonjour {{ user.nameUser }} {{ user.firstNameUser }} ...
                                    "
                                    rel="" title="">
                                    {# &bcc=avocat@antonio.net #}
                                <i class="fas fa-envelope"></i> {{ user.email }}
                            </a>
                            <br>
                            {# <p class="card-text"><i class="fas fa-phone-square-alt"></i>  {{ user.phoneUser }} </p> #}
                            <a href="tel:+{{ user.phoneUser }}" class="card-text text-decoration-none">
                                <i class="fas fa-phone-square-alt"></i> {{ user.phoneUser }} 
                            </a> 

                        </div>
                        <div class="card-footer">
                            {% set xFonction = null %}
                            {% for xFct in user.functionUser %}
                                {% if xFonction is null %}
                                    {% set xFonction = xFct.mission %}
                                {% else %}
                                    {% set xFonction = xFonction ~ ' / ' ~ xFct.mission %}
                                {% endif %}    
                            {% endfor %}
                            <small class="text-muted">{{ xFonction }}</small> 
                        </div>
                    </div>
                </div>

            {# </section> #}

            {% else %}
                <p>Aucun membre du Bureau</p>
            {% endfor %}
      
        </div>

        <hr class="mb-3"> 
                        
        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('users_index') }}">Retour</a>        

        <hr class="mb-3"> 
    
    </div>

{% endblock %}
