{% extends 'admin.html.twig' %}

{% block title %}Nos Partenaires{% endblock %}

{% block body %}

    <h1>Nos Partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Partenaire</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Photo</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.namePartner }}</td>
                <td>{{ partner.textPartner }}</td>

                <td>
                    {% if (partner.logoPartner) %}
                        <img src="{{ asset('photosPartners/' ~ partner.logoPartner) }}" width="100">
                    {% else %}
                        <p><i class="fas fa-question"></i></p>    
                    {% endif %}                               
                </td>
                <td>
                    {% if (partner.photoPartner) %}                        
                        <img src="{{ asset('photosPartners/' ~ partner.photoPartner) }}" width="100">
                    {% else %}
                        <p><i class="fas fa-image"></i></p> 
                    {% endif %}                               
                </td> 

                <td>
                    {% if ( partner.linkPartner ) %} 
                        <a href="{{ partner.linkPartner }}" target="_blank"><i class="fas fa-link"></i></a>                       
                    {% else %}
                        <i class="fas fa-unlink"></i>
                    {% endif %} 
                </td>
                <td>
                    <a class="btn btn-primary me-1" href="{{ path('partners_show', {'id': partner.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('partners_edit', {'id': partner.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn btn-info" href="{{ path('partners_new') }}">Nouveau</a>
        <hr class="mb-3">
    </div>

{% endblock %}
