{% extends 'admin.html.twig' %}

{% block title %}Nos Partenaires{% endblock %}

{% block body %}

    <h1>Nos Partenaires</h1>

    <div>
        <a class="btn btn-info" href="{{ path('partners_new') }}" title="Création d'un partenaire">Nouveau</a>
    </div>        
    <hr class="mb-3">     

    <table class="table">
        <thead>
            <tr>
                <th>Partenaire</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Photo</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.namePartner }}</td>
                <td>{{ partner.textPartner }}</td>

                <td>
                    {% if (partner.logoPartner) %}
                        <img src="{{ asset('photosPartners/' ~ partner.logoPartner) }}" width="100" title="{{ partner.photoPartner }}">
                    {% else %}
                        <p><i class="fas fa-question"></i></p>    
                    {% endif %}                               
                </td>
                <td>
                    {% if (partner.photoPartner) %} 
                        <img src="{{ asset('photosPartners/' ~ partner.photoPartner) }}" width="100" title="{{ partner.photoPartner }}">
                    {% else %}
                        <p><i class="fas fa-image"></i></p> 
                    {% endif %}                               
                </td> 

                <td>
                    {% if ( partner.linkPartner ) %} 
                        <a href="{{ partner.linkPartner }}" target="_blank"><i class="fas fa-link"></i></a>                       
                    {% else %}
                        <i class="fas fa-unlink"></i>
                    {% endif %} 
                </td>
                <td>
                    <a class="btn btn-primary me-1 mb-1" href="{{ path('partners_show', {'id': partner.id}) }}" title="Affiche Le partenaire">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('partners_edit', {'id': partner.id}) }}" title="Modificaton du partenaire">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{# <a href="file:///C:/Users/david/Desktop/Kelvin/html CSS  JV/Cours hCJs.html">
    <div class="bc"></div></a>
 <a href="file:///C:/Users/david/Desktop/Kelvin/html CSS JV/Cours hCJs2.html">
    <div class="bc"></div>
</a>
/*Les div cote a cote, il y en aura d'autre*/

div.bc{
    height:20px;
    width:50px;
    background-color:#dcdcdc;
    float:left;
    border-left:0px solid black;
    border-top:1px solid black;
    border-bottom:4px solid #a9a9a9;
    border-right:1px solid black;
    cursor:pointer;
}
div.bc:hover{
    background-color:#C9C9C9;
} #}