{% extends 'admin.html.twig' %}

{% block title %}Regroupement de Partenaires{% endblock %}

{% block body %}
    <h1>Regroupement de Partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Regroupement de Partenaires Sous ...</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grouping_partner in grouping_partners %}
            <tr>
                {# <td>{{ grouping_partner.id }}</td> #}
                <td>{{ grouping_partner.titleGroupingPartner }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('grouping_partners_show', {'id': grouping_partner.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('grouping_partners_edit', {'id': grouping_partner.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Saisie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a class="btn btn-info" href="{{ path('grouping_partners_new') }}">Nouveau</a>
    </div>
    
{% endblock %}
