{% extends 'admin.html.twig' %}

{% block title %}Les Affectations{% endblock %}

{% block body %}
    <h1>Les Affectations</h1>

    <div>
        <a class="btn btn-grad btn-info2"  href="{{ path('app_affectations_new') }}">Nouveau</a>
    </div>
    <hr class="mb-3">

    <table class="table">
        <thead>
            <tr>
                <th>L'affectation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.nameaffectation }}</td>
                <td>{{ affectation.descriptionaffectation }}</td>
                <td>
                    <a class="btn btn-grad btn-primary2 me-1"  href="{{ path('app_affectations_show', {'id': affectation.id}) }}">Affciher</a>
                    <a  class="btn btn-grad btn-warning2" href="{{ path('app_affectations_edit', {'id': affectation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune Saisie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
