{% extends 'admin.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Subjet</th>
                <td>{{ contact.subjetContact }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ contact.contentContact }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ contact.dateContact ? contact.dateContact|date('d/m/y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nameContact }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ contact.emailContact }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-gard btn-secondary2 me-2" href="{{ path('contacts_index') }}">Retour</a>

    <a class="btn btn-gard btn-warning2 me-2" href="{{ path('contacts_edit', {'id': contact.id}) }}">Modifier</a>

    {{ include('contacts/_delete_form.html.twig') }}

{% endblock %}
